<html>
    <head>
        <title>Contato</title>
    </head>
    <body>
        <p>Orçamento</p>
        <p></p>
        <p>Nome:</p>
        <input type="text" size="100" maxlength="90" >
        <p>E-mail:</p>
        <input type="text" size="100" maxlength="90">
        <p>Telefone:</p>
        <input type="text" size="20" maxlength="11">
        <p>Assunto:</p>
        <input type="text" size="50" maxlength="11">
        <p>Mensagem</p>
        <p></p>
        <input type="text" size="100" maxlength="90" height="200">
        <p></p>

        <button name="bt_enviar">Enviar</button>
       






    </body>
</html>