<div class="grid-container">
  <h1 class="mat-h1">Serviços</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let servico of servicos" [colspan]="servico.cols" [rowspan]="servico.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{servico.nome}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Adicionar ao carrinho</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p>{{servico.descricao}}</p>
        </mat-card-content>
        <!-- <img mat-card-image [src]="servico.image" alt="Logo Servico"> -->
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<!-- <mat-card class="example-card" *ngFor="let servico of servicos">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{servico.nome}}</mat-card-title>
      <mat-card-subtitle>{{servico.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src=".\src\assets/images/caneca.jpg" alt="Logo Servico">
  <mat-card-content>
      <p class="align-text">
        {{servico.descricao}}
      </p>
  </mat-card-content>
</mat-card> -->