<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Página Inicial</a>
      <a mat-list-item routerLink="/budget">Orçamento</a>
      <a mat-list-item routerLink="/contact">Contato</a>
      <a mat-list-item routerLink="/mug">Canecas</a>
      <a mat-list-item routerLink="/baby-look">Baby-Look</a>
      <a mat-list-item routerLink="/t-shirt">Camisetas</a>
      <a mat-list-item routerLink="/service">Serviços</a>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/register">Cadastro</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Estamparia Master</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
